.product-item{
    width: 300px;
    cursor: pointer;
    transition: 0.5s;
}
.product-item:hover{
    transform: scale(1.025);
}

.product-item img{
    display: block;
    width: 300px;
}

.product-description{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}