.AppSearch-bg{
    width: max-content;
    align-items: center;
    padding: 6px;
    margin: 6px;
    border-radius: 28px;
    background: #f6f6f6;
}

.AppSearch-grid-col{
    grid-column: 1/ span 4;
}