.wrapper{
    height: 100%;
    width: 330px;
    position: relative;
}

.wrapper #sidebar {
    position: fixed;
    height: 100%;
    width: 300px;
    background-color: #404040;
    overflow: hidden;
}
#sidebar .title{
    color: #f2f2f2;
    font-size: 25px;
    font-weight: 600px;
    line-height: 65px;
    background: #333;
    text-align: center;
}
#sidebar .list-items{
    position: relative;
    height: 100%;
    width: 100%;
    list-style: none;
}
#sidebar .list-items .li{
     padding-left: 40px;
    line-height: 50px;
    cursor: pointer;
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    border-bottom: 1px solid #333;
    transition: all 0.3s ease;
}
#sidebar .list-items .li:hover{
    border-top: 1px solid transparent;
    border-bottom: 1px solid transparent;
    box-shadow: 0 0 10px 3px #222;
}
#sidebar .list-items .li a{
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
    height: 100%;
    width: 100%;
    display: block;
}

.outline-btnAdd-product{
    display: none;
    justify-content: end;
    margin: 30px;
}