.grid-container {
    display: grid;
    grid-template-columns:1fr 5fr;
    grid-template-rows:auto;
    row-gap: 20px;
}

.header-grid-col{
    grid-column: 1/ span 4;
}

.grid-main{
    display: grid;
    grid-template-columns:repeat(4,1fr);
    grid-template-rows: auto;
    column-gap: 16px;
    row-gap: 20px;
}